name: Publish Python package

on:
  release:
    types: [ published ]

permissions: {}

env:
  POETRY_VERSION: "2.1.3"
  POETRY_CORE_VERSION: "2.1.3"
  PYTHON_VERSION: "3.13"

jobs:
  build-sdist:
    name: Build sdist

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: main

      - name: Install poetry
        run: pip install poetry==${{ env.POETRY_VERSION }} poetry-core==${{ env.POETRY_CORE_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
          check-latest: true

      - name: Install dependencies
        run: poetry install --no-root

      - name: Build PyPI package
        run: poetry build --format=sdist

      - name: Upload artefacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artefacts-sdist
          path: ./dist/quart_assets-*.tar.gz

  build-wheels:
    name: Build wheels on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, windows-2025, windows-11-arm, macos-15]

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: main

      - name: Install poetry
        run: pip install poetry==${{ env.POETRY_VERSION }} poetry-core==${{ env.POETRY_CORE_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
          check-latest: true

      - name: Install dependencies
        run: poetry install --no-root

      - name: Build PyPI package
        run: poetry build --format=wheel

      - name: Upload artefacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artefacts-wheel-${{ matrix.os }}
          path: ./dist/quart_assets-*.whl

  publish-test-pypi:
    name: Publish TestPyPI package

    needs:
      - build-sdist
      - build-wheels

    runs-on: ubuntu-latest

    env:
      PUBLISH_REGISTRY: https://test.pypi.org/legacy/

    environment:
      name: testpypi
      url: https://test.pypi.org/p/quart-assets

    permissions:
      contents: read
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write

    steps:
      - name: Download artefacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: artefacts-*
          path: dist
          merge-multiple: true

      - name: Publish PyPI package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: ${{ env.PUBLISH_REGISTRY }}

  publish-pypi:
    name: Publish PyPI package

    needs:
      - build-sdist
      - build-wheels

    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/quart-assets

    permissions:
      contents: read
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write

    steps:
      - name: Download artefacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: artefacts-*
          path: dist
          merge-multiple: true

      - name: Publish PyPI package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
